# numpy
# matplotlib
# seaborn
# plotly
# streamlit
# scikit-learn
# tensorflow-cpu
# keras
# protobuf
# pandas
# pandas-profiling

numpy
pandas
matplotlib
seaborn
plotly
streamlit
scikit-learn
tensorflow-cpu
keras
pil