# numpy
# matplotlib
# seaborn
# plotly
# streamlit
# scikit-learn
# tensorflow-cpu
# keras
# protobuf
# pandas
# pandas-profiling

# numpy
# pandas
# matplotlib
# seaborn
# plotly
# streamlit
# scikit-learn
# tensorflow-lite
# keras
# pillow

numpy==1.24.0
pandas
matplotlib
seaborn
plotly

streamlit==1.22.0

scikit-learn
tensorflow-cpu
keras
protobuf