# numpy
# matplotlib
# seaborn
# plotly
# streamlit
# scikit-learn
# tensorflow-cpu
# keras
# protobuf
# pandas
# pandas-profiling

# numpy
# pandas
# matplotlib
# seaborn
# plotly
# streamlit
# scikit-learn
# tensorflow-lite
# keras
# pillow

numpy
pandas
matplotlib
seaborn==0.11.0
plotly==4.12.0

streamlit==0.85.0

scikit-learn
tensorflow-cpu
keras
protobuf